<!-- templates/monitor.html -->
<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>監控台</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
</head>

<body>
    <h2>監控頁面 - 不安全通道觀察</h2>
    <div id="monitor" style="border:1px solid red; width:600px; height:400px; overflow:auto;"></div>
    <script>
        var socket = io();
        // 加入監控房間
        socket.emit('join_monitor', {});

        socket.on('monitor_info', function (data) {
            var monitor = document.getElementById("monitor");
            monitor.innerHTML += "<p>" + data.msg + "</p>";
        });
    </script>
</body>

</html>